/*common css start*/
body{
    margin: 0;
    font-family: "Playfair Display", serif;

    font-size:16px ;
    font-weight: 400 ;
    color: #626262;
}
/*common css end*/


/*header start*/
header{
    padding: 30px 0;
}
.container{
    overflow: hidden;
    margin: 0 auto;
    width: 90%;

}
.logo{
    margin-top: 8px;
    float: left;
    width:12%;
}
.logo a{

}
.logo a img{
    width: 100%;
}
.menu{
    float: right;
    width: 70%;
}
.menu ul{
    float: right;

}
.menu ul li{
    float: left;
    list-style: none;
}
.menu ul li a{
        margin: 0 50px;
        display: inline-block;
        color: #626262;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        transition: 0.33s linear;
}
.menu ul li:last-child a {
    margin-right: 0;
}
.menu ul li a:hover{
    color: #626262;
    border-bottom: 1px solid #626262;
}
/*header end*/

/*banner start*/
.banner{
}
.b_img{}
.b_img img{
    width: 100%;
}

/*banner end*/
/*article start*/
.article{
    padding: 100px 0 30px;

}
.container2{
    margin:0 auto;
    overflow: hidden;
    width: 80%;
}
.a_content{}
.c_link{
    display: inline-block;
    font-family: "Ubuntu", serif;
    font-size: 14px;
    font-weight: 300;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
}
.c_h1{
    margin: 20px 0 30px;
    font-size: 30px;
    font-weight: 400;

}
.c_text{
    margin: 0 ;
    line-height: 24px;
}
.comment{
    margin-top:45px;
}
/*article end*/

/*blog start*/
.blog{
    padding:0 0 100px;
}
.bg_item{
    margin-top: 70px;
    box-sizing: border-box;
    float: left;
    width: 47%;
}
.bg_item:nth-child(even){
    margin-left: 6%;
}

.bg_img{
    margin-bottom: 25px;
}
.bg_img img{
    width: 100%;
}
/*blog end*/
/*newsletter start*/
.news{
    background-color: #f0f0f0;
    padding: 70px 0;
    margin-bottom: 100px;
}
.signup{
    text-align: center;
}
.signup .c_h1{
    color: #333333;
    margin-top: 0;

}
.s_form{
    position: relative;
    width: 350px;
    margin: 0 auto;
    
}
.s_form input{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 14px;
    color: #626262;
    width: 300px;
    height:45px;
    border: none;
    border-bottom: 1px solid #333333;
    background-color: transparent;
    padding-left:5px ;
    padding-right: 45px;
}
.s_form input:focus{
    outline: 0;
}
.s_form button{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 17px;
    right: 0;

}
.s_form button:focus{
    outline: 0;
}
.s_form button img{}
/*newsletter end*/
/*blog2 start*/
.blog2{
    padding-top: 30px;
}
/*blog2 end*/

/*loadmore start*/
.loadmore{}
.l_content{
    padding: 30px 0 150px;
    text-align: center;
}
.l_button{
    padding: 15px 30px;
    font-family: playfairdisplay-regular;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    background-color: transparent;
    border: 1px solid #626262;
    border-radius: 0;
    cursor: pointer;
}
.l_button:hover{
    background-color:#626262;
    color: #000000;
}
/*loadmore end*/

/*footer start*/
.footer {
    background-color: #f0f0f0;
    padding: 40px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.pages {
    width: 15%;
    float: left;
    padding-left: 50px;
}

.pages ul {
    margin: 0;
    padding: 0;
}

.pages ul li {
    list-style: none;
    display: inline;
}

.pages ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

.pages ul li:first-child {
    float: left;
}

.pages ul li:last-child {
    float: right;
}

.social {
    width: 45%;
    float: right;
    text-align: right;
}

.social ul {
    margin: 0;
    padding: 0;
}

.social ul li {
    display: inline-block;
    font-size: 14px;
    color: #000000;
}

.social ul li:first-child {
    margin-right: 8px;
}

.social ul li a {
    display: inline-block;
    margin: 0 10px;
}

.social ul li:last-child a {
    margin-right: 0;
}

.social ul li a img {
vertical-align: middle;
}
/*footer end*/
